.canvasContainer {
    position: relative;
    top: 0px;
    left: 0px;
}

canvas.BackgroundCanvas {
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 1;
}

canvas.DrawCanvas {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 2;
}

/* canvas background color */
.drawRegion {
    background-color: #444444;
}

/* brush picker */
.sampleBrush {
    padding: 5px 5px 5px 5px;
    border: 1px solid gray;
    border-radius: 3px;
    margin: 5px 5px 5px 5px;
}

.colorslider {
    margin: 4px 10px 4px 10px;
}

.colorslider div {
    vertical-align: middle;
    padding-right: 2px;
}

.colorslider canvas {
    vertical-align: middle;
    border: 1px solid #888;
    border-radius: 3px;
}

.presetSwatches {
    margin: 4px 10px 4px 10px;
}

/* for the help page */
#help dt {
    font-weight: bold;
    padding-top: 5px;
}

#help figure {
    padding: 10px 10px 10px 10px;
}

#help figcaption {
    font-size: small;
    font-style: italic;
    font-weight: normal;
    display: block;
}
